// font-family: 'Bebas Neue', cursive;
// font-family: 'Dosis', sans-serif;
// font-family: 'Mohave', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Quicksand', sans-serif;

body {
    background-color: black;
    margin: 0;
    padding: 0;
}
h1 {
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding-top: 35%;
    margin-top: 0;
}
.startpage-container {
    height: 100vh;
    width: 100%;
    background-image: url('../img/dinnerdark.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2 {
        font-size: 14px;
        color: white;
        font-family: 'Quicksand', sans-serif;
        font-weight: lighter;
    }
    h3 {
        font-size: 16px;
        color: white;
        font-family: 'Quicksand', sans-serif;
        font-weight: lighter;
    }
    .login-error {
        font-family: 'Quicksand', sans-serif;
        font-size: 15px;
        color: white;
        margin-bottom: 15px;
    }
    form {
        width: 60%;
        display: block;
        margin: 0 auto;
        margin-top: 30%;
    }
    input {
        width: 100%;
        background-color: #00000000;
        border: 0;
        border-bottom: 1px solid white;
        margin-bottom: 15px;
        padding-bottom: 8px;
        padding-left: 3px;
        padding-top: 8px;
        letter-spacing: 1px;
        text-transform: uppercase;
        outline: 0;
        cursor: pointer;
        color: white;
        font-size: 1rem;
    }
    input::placeholder {
        color: #ffffff88;
    }
    input:focus {
        background-color: #ffffff2a;
        color: white;
    }
    button {
        display: block;
        width: 90%;
        background-color: #93e38c;
        border: 0;
        padding: 15px;
        border-radius: 30px;
        margin: 20px auto;
        font-family: 'Quicksand', sans-serif;
        color: white;
        text-transform: uppercase;
        font-size: 15px;

        &:hover {
            background-color: #93e38c8a;
        }
        &:active {
            background-color: #93e38c8a;
        }
    }
    .new-user {
        text-align: center;
        margin-top: 40px;
    }
    .new-user a {
        color: #ffffffd7;
        font-family: 'Quicksand', sans-serif;
        letter-spacing: 0.5px;
        &:hover {
            color: #addcaed7;
        }
    }
}
